<html>
	<head>
		<meta charset="utf-8" />
	</head>
	<body>
		<div style="width: 750px; margin: auto">
			<h1
				style="
					text-align: center;
					line-height: 1.75;
					font-family:
						-apple-system-font,
						BlinkMacSystemFont,
						Helvetica Neue,
						PingFang SC,
						Hiragino Sans GB,
						Microsoft YaHei UI,
						Microsoft YaHei,
						Arial,
						sans-serif;
					font-size: 19.599999999999998px;
					display: table;
					padding: 0.5em 1em;
					border-bottom: 2px solid #0f4c81;
					margin: 1em auto 1em;
					color: hsl(var(--foreground));
					font-weight: bold;
					text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
				"
			>
				<%= currentDate %>
			</h1>
			<p
				style="
					text-align: justify;
					line-height: 1.75;
					font-family:
						-apple-system-font,
						BlinkMacSystemFont,
						Helvetica Neue,
						PingFang SC,
						Hiragino Sans GB,
						Microsoft YaHei UI,
						Microsoft YaHei,
						Arial,
						sans-serif;
					font-size: 14px;
					margin: 1.5em 8px;
					letter-spacing: 0.1em;
					color: hsl(var(--foreground));
				"
			>
				<%= currentDate %>，第<%= weekNumber %>，<%= formatted %>，<%= dayOfWeek
				%>，大家上午好，工作虽然辛苦，但也不要忘了休息，起来去茶水间、厕所或者走廊活动活动身体，祝愿所有打工人愉快地度过每一天...
			</p>

			<!-- 大集list -->
			<% groupedRegion.forEach(function(regionGroup) { %>
				<h2
					style="
						text-align: center;
						line-height: 1.75;
						font-family:
							-apple-system-font,
							BlinkMacSystemFont,
							Helvetica Neue,
							PingFang SC,
							Hiragino Sans GB,
							Microsoft YaHei UI,
							Microsoft YaHei,
							Arial,
							sans-serif;
						font-size: 18.2px;
						display: table;
						padding: 0.3em 1em;
						margin: 2em auto 2em;
						color: #fff;
						background: #0f4c81;
						font-weight: bold;
						border-radius: 8px;
						box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
					"
				>
				<%= regionGroup.name %>
				</h2>
				<div style="width: 750px; margin: auto">
					<section
						style="
							text-align: left;
							line-height: 1.75;
							font-family:
								-apple-system-font,
								BlinkMacSystemFont,
								Helvetica Neue,
								PingFang SC,
								Hiragino Sans GB,
								Microsoft YaHei UI,
								Microsoft YaHei,
								Arial,
								sans-serif;
							font-size: 14px;
						"
					>
						<section style="padding: 0 8px; max-width: 100%; overflow: auto">
							<table class="preview-table">
								<thead
									style="
										text-align: left;
										line-height: 1.75;
										font-family:
											-apple-system-font,
											BlinkMacSystemFont,
											Helvetica Neue,
											PingFang SC,
											Hiragino Sans GB,
											Microsoft YaHei UI,
											Microsoft YaHei,
											Arial,
											sans-serif;
										font-size: 14px;
										background: rgba(0, 0, 0, 0.05);
										font-weight: bold;
										color: #fff;
									"
								>
									<tr>
										<td
											style="
												text-align: left;
												line-height: 1.75;
												font-family:
													-apple-system-font,
													BlinkMacSystemFont,
													Helvetica Neue,
													PingFang SC,
													Hiragino Sans GB,
													Microsoft YaHei UI,
													Microsoft YaHei,
													Arial,
													sans-serif;
												font-size: 14px;
												border: 1px solid #dfdfdf;
												padding: 0.5em 1em;
												color: #3f3f3f;
												word-break: keep-all;
											"
										>
											名称
										</td>
										<td
											style="
												text-align: left;
												line-height: 1.75;
												font-family:
													-apple-system-font,
													BlinkMacSystemFont,
													Helvetica Neue,
													PingFang SC,
													Hiragino Sans GB,
													Microsoft YaHei UI,
													Microsoft YaHei,
													Arial,
													sans-serif;
												font-size: 14px;
												border: 1px solid #dfdfdf;
												padding: 0.5em 1em;
												color: #3f3f3f;
												word-break: keep-all;
											"
										>
											地址
										</td>
									</tr>
								</thead>
								<tbody>
									<% regionGroup.children.forEach(function(child) { %>
									<tr>
										<td
											style="
												text-align: left;
												line-height: 1.75;
												font-family:
													-apple-system-font,
													BlinkMacSystemFont,
													Helvetica Neue,
													PingFang SC,
													Hiragino Sans GB,
													Microsoft YaHei UI,
													Microsoft YaHei,
													Arial,
													sans-serif;
												font-size: 14px;
												border: 1px solid #dfdfdf;
												padding: 0.5em 1em;
												color: #3f3f3f;
												word-break: keep-all;
											"
										>
											<span
												style="
													text-align: left;
													line-height: 1.75;
													font-family:
														-apple-system-font,
														BlinkMacSystemFont,
														Helvetica Neue,
														PingFang SC,
														Hiragino Sans GB,
														Microsoft YaHei UI,
														Microsoft YaHei,
														Arial,
														sans-serif;
													font-size: 14px;
													color: #576b95;
												"
												><a
													class="weapp_text_link js_weapp_entry wx_tap_link js_wx_tap_highlight"
													style="font-size: 14px"
													data-miniprogram-appid="wx56a9e6643c88edb7"
													data-miniprogram-path="pages/index/index"
													data-miniprogram-applink=""
													data-miniprogram-nickname="集集有你"
													href=""
													data-miniprogram-type="text"
													data-miniprogram-servicetype=""
													><%= child.name %></a
												></span
											>
										</td>
										<td
											style="
												text-align: left;
												line-height: 1.75;
												font-family:
													-apple-system-font,
													BlinkMacSystemFont,
													Helvetica Neue,
													PingFang SC,
													Hiragino Sans GB,
													Microsoft YaHei UI,
													Microsoft YaHei,
													Arial,
													sans-serif;
												font-size: 14px;
												border: 1px solid #dfdfdf;
												padding: 0.5em 1em;
												color: #3f3f3f;
												word-break: keep-all;
											"
										>
											<span
												style="
													text-align: left;
													line-height: 1.75;
													font-family:
														-apple-system-font,
														BlinkMacSystemFont,
														Helvetica Neue,
														PingFang SC,
														Hiragino Sans GB,
														Microsoft YaHei UI,
														Microsoft YaHei,
														Arial,
														sans-serif;
													font-size: 14px;
													color: #576b95;
												"
											>
												<a
													class="weapp_text_link js_weapp_entry wx_tap_link js_wx_tap_highlight"
													style="font-size: 14px"
													data-miniprogram-appid="wx56a9e6643c88edb7"
													data-miniprogram-path="pages/index/index"
													data-miniprogram-applink=""
													data-miniprogram-nickname="集集有你"
													href=""
													data-miniprogram-type="text"
													data-miniprogram-servicetype=""
													><%= child.address %></a
												>
											</span>
										</td>
									</tr>
									<% }); %>
								</tbody>
							</table>
						</section>

						<style>
							.preview-wrapper pre::before {
								position: absolute;
								top: 0;
								right: 0;
								color: #ccc;
								text-align: center;
								font-size: 0.8em;
								padding: 5px 10px 0;
								line-height: 15px;
								height: 15px;
								font-weight: 600;
							}
						</style>

						<style>
							.hljs.code__pre > .mac-sign {
								display: flex;
							}
						</style>

						<style>
							.code__pre {
								padding: 0 !important;
							}

							.hljs.code__pre code {
								display: -webkit-box;
								padding: 0.5em 1em 1em;
								overflow-x: auto;
								text-indent: 0;
							}
						</style>
					</section>
				</div>
			<% }); %>

			<!-- 横线 -->
			<section
				style="
					margin-top: 3em;
					border-width: 0px;
					border-style: solid;
					border-color: hsl(var(--border));
					color: rgb(10, 10, 10);
					font-size: 14px;
					letter-spacing: normal;
					background-color: rgb(255, 255, 255);
					text-align: left;
					line-height: 1.75;
					font-family: -apple-system-font, BlinkMacSystemFont, 'Helvetica Neue',
						'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI', 'Microsoft YaHei',
						Arial, sans-serif;
				"
			>
				<hr
					style="
						border-width: initial;
						border-style: none;
						border-color: initial;
						height: 1px;
						color: inherit;
						margin-bottom: 2em;
						line-height: 1.75;
						font-family: -apple-system-font, BlinkMacSystemFont, 'Helvetica Neue',
							'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei UI',
							'Microsoft YaHei', Arial, sans-serif;
						transform-origin: 0px 0px;
						transform: scale(1, 0.5);
						background: linear-gradient(
							to right,
							rgba(0, 0, 0, 0),
							rgba(0, 0, 0, 0.1),
							rgba(0, 0, 0, 0)
						);
					"
				/>
				<center
					style="border-width: 0px; border-style: solid; border-color: hsl(var(--border))"
				>
					<section class="mp_profile_iframe_wrp">
						<mp-common-profile
							class="js_uneditable custom_select_card mp_profile_iframe mp_common_widget js_wx_tap_highlight"
							data-pluginname="mpprofile"
							data-id="Mzk1NzY2Nzc1Ng=="
							data-headimg="http://mmbiz.qpic.cn/mmbiz_png/7XkntTQOU7W7e51sV8pFs7YeiahUXib8hc0E17tLuGRqAPh4MeVIh80te20mjvquDHcKWe4qa9Yl39ichbyySDNCQ/300?wx_fmt=png&amp;wxfrom=19"
							data-nickname="集集有你"
							data-alias=""
							data-signature="掌握“济南大集”信息，一键发现身边的集市乐趣，让生活更精彩！"
							data-from="1"
							data-is_biz_ban="0"
							data-service_type="undefined"
							data-origin_num="0"
							data-isban="0"
							data-biz_account_status="0"
							data-index="0"
						></mp-common-profile>
					</section>
				</center>
			</section>

			<style>
				.preview-wrapper pre::before {
					position: absolute;
					top: 0;
					right: 0;
					color: #ccc;
					text-align: center;
					font-size: 0.8em;
					padding: 5px 10px 0;
					line-height: 15px;
					height: 15px;
					font-weight: 600;
				}
			</style>

			<style>
				.hljs.code__pre > .mac-sign {
					display: flex;
				}
			</style>

			<style>
				.code__pre {
					padding: 0 !important;
				}

				.hljs.code__pre code {
					display: -webkit-box;
					padding: 0.5em 1em 1em;
					overflow-x: auto;
					text-indent: 0;
				}

				.rich_media_content p{
					display: none!important;
				}
			</style>
		</div>
	</body>
</html>
